.result{
    margin-top:20px;
    display:flex;
    justify-content:center;
    color:white;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../static/a.jpg);
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
}
.btn:hover {
    color:white;
    text-decoration: none;
}
.main{
    display:flex;
    justify-content:center;
    height:100%;
    width:100%;
    flex-direction:column;
}
.form{
    padding-right:20%;
    padding-left:20%;
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.title{
    padding-bottom:50px;
    display:flex;
    color:white;
    justify-content:center;
}
input[type=text]{
    color: white;
    width: 100%;	
    border-bottom: 1px solid red;

}
button[type=submit]{
    width: 100%;
}
.btn{
    background-color: transparent;
}
